figure.me {
    display: flex;
    flex-flow: column;
    max-width: 300px;
    margin: auto;
}

img {
    max-width: 300px;
    max-height: 204px;
    border-radius: 20%;
}

figcaption {
    background-color: rgb(255, 255, 255);
    color: rgb(84, 156, 202);
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
